/*Login component*/

.container{
    margin-top:100px;
}

.card{
    padding:2em;
}

.card h5.card-title{
    width: 150px;
    color: #028D68;
    letter-spacing: 0.10em;
}

.input-group-text{
    background-color:#fff !important;
    border:none !important;
}

.brand-img{
    width:250px;
    margin: 40px auto;
}

form{
    margin:20px auto;
}

.form-control:focus {
    box-shadow: none !important;
}

.input-group{
    padding:15px;
}

/* input animation line */

.input-line{
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.input-line > input{
  border: none;
  border-bottom: 2px solid #659C6A;
  outline: none;
  border-radius:0px;
}

.underline-animation{
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3e6bff;
}

.input-line > input:focus + .underline-animation{
  left: 0;
}

.toggle-password{
    cursor:pointer; 
}

.btn-submit{
    padding:10px;
    width:150px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right,#659C6A,#028D68);
    color: #fff;
    text-decoration: none;
    margin: 20px 15px;
    border-radius:20px;
    border:none;
    transition: ease 0.5s;
}

.btn-submit:hover{
    opacity:0.8;
}

p > a {
    text-decoration: none !important;
    position: relative;
    color:#659C6A !important;
}

p > a:after {  
    text-decoration: none;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #659C6A;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0;
}

p > a:hover:after { 
    width: 100%; 
    left: 0; 
    color:#659C6A;
}