/*Login component*/

.brand-img{
    width:250px;
    margin: 40px auto;
    display: block;
}
p > a {
    color:#659C6A !important;
}
p > a:hover{
    text-decoration:underline;
}
.flip-container {
    background: transparent;
    display: inline-block;
}

.toggle-password{
    position:absolute;
    top:10px;
    z-index:1 !important;
}
.flip-this {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-container:hover .flip-this {
    transition: 1s;
    transform: rotateY(360deg);
}
.btn-submit{
    margin:30px auto;
}