.navbar {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 10px 16px -9px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 10px 16px -9px rgba(128, 128, 128, 1);
    box-shadow: 0px 10px 16px -9px rgba(128, 128, 128, 1);
    height:70px;
}
.nav-item,
.nav-link{
    text-transform: uppercase;
    color: #000 !important;
}
img.icon {
    width: 15px;
    margin: 0px 5px;
}
img.logo {
    width: 60px;
    height: 100%;
    margin: 0 50px;
}
.account{
    margin-right:50px;
}
/* navbar hover effect */
nav ul li a,
nav ul > li > .fill:after,
nav ul > li > .fill:before {
    transition: all 1s;
}
nav ul > li > .fill{
    position: relative;
}
nav ul > li > .fill:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #659C6A;
    height: 1px;
}

nav ul > li > .fill:hover:after{
    width: 100%;
}

