// css register page
.brand-img{
    width:90px;
    margin-bottom:20px;
}

.form-control{
    margin-right:10px;
    margin-bottom:1em;
}


.toggle-password{
    position:absolute;
    top:10px;
    z-index:1 !important;
}





