.brand-img{
    width:90px;
    margin-bottom:20px;
}
form{
    margin: 0 40px;
}
.card{
    margin:0 auto;
    width:700px;
    padding:20px;
}
small{
    padding:5px;
    margin: 0 40px;
    font-size:11px;
    color: #05c749;
}
.card-header{
    background:transparent;
    padding:10px;
}
.card-title{
    text-transform: uppercase;
}
input{
    margin:0 5px;
}