// css register page
.brand-img{
    width:90px;
    margin-bottom:20px;
}

.form-control{
    margin-right:10px;
    margin-bottom:1em;
}

.input-group{
    margin-bottom:2em;
}

input{
    padding:20px !important;
    z-index:0 !important;
}

.toggle-password{
    position:absolute;
    top:10px;
    z-index:1 !important;
}





