//navbar component
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Lato", arial, sans-serif;
}
body,
html {
    height: 100%;
}
body{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFF;
    overflow: hidden;
}
.navbar {
    width: 100%;
    -webkit-box-shadow: 0px 10px 16px -9px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 10px 16px -9px rgba(128, 128, 128, 1);
    box-shadow: 0px 10px 16px -9px rgba(128, 128, 128, 1);
}
.nav-item,
.nav-link{
    padding: 10px;
    text-transform: uppercase;
    color: #000 !important;
}
.nav-link.account:hover{
    color:rgb(110, 109, 109);
}
img.icon {
    width: 15px;
    margin: 0px 5px;
}
img.logo {
    width: 70px;
    height: 100%;
    margin: 0 50px;
}

/* navbar effect */
nav ul li a,
nav ul > li > .fill:after,
nav ul > li > .fill:before {
    transition: all 0.5s;
}
nav ul > li > .fill{
    position: relative;
}
nav ul > li > .fill:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: rgb(197, 173, 129);
    height: 2px;
}
nav ul > li > .fill:hover:after{
    width: 100%;
}
/*Login container*/
.card{
    margin-top:100px;
    padding:20px;
}
.card h5.card-title{
    width: 150px;
    color: #028D68;
    border-right: 1px solid #659C6A;
    border-left: 1px solid #659C6A;
}
.input-group-text{
    background-color:#fff !important;
    border:none !important;
}
.brand-img{
    width:250px;
}
.form-control:focus {
    box-shadow: none !important;
    border:none !important;
}
input{
    border:none !important;
    outline: none !important;
}
.toggle-password{
    position:relative;
    float:right;
}
.input-group{
    padding:15px;
}
.line-box {
    position: relative;
    width: 100%;
    margin:0 40px;
    height: 2px;
    background: #BCBCBC;
}
.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #659C6A;
    transition: ease .6s;
}
input:focus + .line-box .line {
    width: 100%;
}
.btn-submit{
    padding:10px;
    width:150px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right,#659C6A,#028D68);
    color: #fff;
    text-decoration: none;
    margin: 20px 15px;
    border-radius:20px;
    border:none;
    transition: ease 0.5s;
}
.btn-submit:hover{
    opacity:0.8;
}
