#site-menu li, #site-menu p {
    padding: 10px;
    margin: 0px;
    color: #000000;
    list-style: none;
    display: none;
    text-align: center;
    transition: all .5s;
    /* Credit to Mike for the responsive font-sizing https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */
    font-size: calc(20px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

#site-menu p:hover {
    display: block;
    color: #5bc1e8;
    transition: all .5s;
    font-weight:bold;
}

/* hides toggle handler */
[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    display: none;
}

/* menu button & animation */
.menu-button {
    position: absolute;
    right:0px;
    top:0px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.line {
    position: relative;
    left: 25%;
    width: 50%;
    height: 3px;
    background:rgba(103, 103, 103, 0.4);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.line:nth-child(1) {
    top: 35%;
}

.line:nth-child(2) {
    top: 45%;
}

.line:nth-child(3) {
    top: 55%;
}

/* animate background of lines */
.menu-button:hover .line::after {
    transform: translateX(0);
}

.menu-button .line::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(255, 255, 255,1);
    transform: translateX(100%);
    transition: all 0.25s ease;
}

#menu-toggle:checked + .menu-button .line::after {
    background: rgba(91, 193, 232,1);
}

#menu-toggle:checked + .menu-button  { 
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #menu-button .line:nth-child(1){
    transform: translateY(5px) rotate(45deg);/*45deg*/
}


#menu-toggle:checked + #menu-button .line:nth-child(2) {
    transform: scaleX(0);
    opacity:0;
}

#menu-toggle:checked + #menu-button .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);/* -45deg*/
}


/* animate menu in */
#menu-toggle:checked + #menu-button + #site-menu{
    animation: menu-open 2s ease both;

}

#menu-toggle:checked + #menu-button + #site-menu ul > li, #site-menu p {
    display: block;
    animation: menu-txt-open 2.5s ease both;
}


#site-menu {
    position: absolute;
    width: 0px;
    height: 100vh;
    right:0px;
    top:0px;
    margin: 0px; 
    padding: 0px;
    background-color: #fff;
    animation: menu-closed .3s both;

    transition: .2s;
}

#site-menu-titles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@keyframes menu-open {
    100% {
        width: 100vw;
        height: 100vh;
    }
}
@keyframes menu-closed {
    0% {
        width: 100vw;
        height: 100vh;
    }
}
@keyframes menu-txt-open {
    0%, 70% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
