body{
    background:#d2e3ff !important;
}
.text{
    font-size: 1.4em;
    font-weight:300;
    letter-spacing: 1.2px;
}
.validation{
    font-size:1em;
    font-weight:300;
}
.text-warning{
    font-weight:300;
    letter-spacing: 1px;
}
.form-group{
    padding: 20px;
}
.form-group p{
    font-weight: 600;
    text-transform: uppercase;
}
