.rounded{
    border-radius: 10px !important;
}

.calification input[type="radio"] {
  display: none;
  
}
calification label {
  color: grey;
}
.calification {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 25px;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

