<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- API servlet -->
    <servlet>
        <servlet-name>GetProductInformation</servlet-name>
        <servlet-class>servlet.api.GetProductInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlet.admin.user.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>servlet.admin.product.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataSurvey</servlet-name>
        <servlet-class>servlet.admin.survey.DataSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplier</servlet-name>
        <servlet-class>servlet.admin.supplier.DeleteSupplier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductInformation</servlet-name>
        <url-pattern>/api/GetProductInformation</url-pattern>
    </servlet-mapping>
    <!-- API servlet -->
    <!-- user mapping -->
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>servlet.user.auth.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlet.user.auth.Register</servlet-class>
    </servlet>
    <!-- admin mapping -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.admin.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsers</servlet-name>
        <servlet-class>servlet.admin.user.ListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProducts</servlet-name>
        <servlet-class>servlet.admin.product.ListProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>servlet.admin.product.EditProduct</servlet-class>
    </servlet>
    <!-- user mapping routes -->
    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>servlet.user.Application</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlet.admin.product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplier</servlet-name>
        <servlet-class>servlet.admin.supplier.AddSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSupplier</servlet-name>
        <servlet-class>servlet.admin.supplier.ListSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplier</servlet-name>
        <servlet-class>servlet.admin.supplier.EditSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlet.admin.auth.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsers</servlet-name>
        <servlet-class>servlet.admin.user.EditUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Face</servlet-name>
        <servlet-class>servlet.user.category.Categories</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <!-- admin mapping routes -->
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsers</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProducts</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/admin/products/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/admin/products/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplier</servlet-name>
        <url-pattern>/admin/suppliers/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSupplier</servlet-name>
        <url-pattern>/admin/suppliers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplier</servlet-name>
        <url-pattern>/admin/suppliers/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsers</servlet-name>
        <url-pattern>/admin/users/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Face</servlet-name>
        <url-pattern>/app/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/admin/users/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/admin/products/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataSurvey</servlet-name>
        <url-pattern>/admin/survey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplier</servlet-name>
        <url-pattern>/admin/suppliers/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
