.container-image{
    background-image: url('../img/about-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100%;
    height:600px;
    padding:20px;
}
.main-title{
    font-size:2.5em;
}
.content-text{
    margin:6em;
    font-size:1.5em;
}
.container-image .btn{
    font-size:14px;
    width:150px;
}

.container-image .btn i{
    color:#fff;
    margin-left:10px;
}

.arrow {
    animation: slide 1s ease-in-out infinite;
    margin-left: 9px;
}
/*
Arrow animation
* 'Saber más'
*/
@keyframes slide {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 0);
    }   
} 
