body{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    margin-top:5em;
}

.card{
    padding:20px;
}

.card-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
    font-size:27px;
    color: #028D68;
    letter-spacing: 0.10em;
    text-transform: uppercase;
}

form{
    margin:20px;
}

/* input animation line */
.line-box {
    position: relative;
    width: 90%;
    height: 2px;
    background: #BCBCBC;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background:  rgb(28, 133, 84);
    transition: ease .6s;
}

.email{
    height: 1.5px !important;
}

.input:focus + .line-box .line {
    width: 100%;
}

input{
    padding:20px !important;
    z-index:0 !important;
}

.input-group{
    margin-bottom:2em !important;
}

.btn-submit{
    background: linear-gradient(90deg, rgba(2,141,96,1) 18%, rgba(101,156,96,1) 100%, rgba(2,141,104,1) 100%);
    color:#ffff !important;
    width:150px;
    padding:8px !important;
    border-radius:20px !important;
    transition: ease 0.5s;
}

.input-group-text{
    background-color:#fff !important;
}

input,
.form-control:focus,
.input-group-text{
    box-shadow: none !important;
    border:none !important;
}

.btn-submit:hover{
    opacity: 0.8;
    color:#ffff !important;
}

