* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    font-weight:300;
}

.errorMessage{
    font-size:13px;
    color:rgb(221, 83, 83);
}























